extends ../layouts/default

block content
    script(src="https://unpkg.com/react@16/umd/react.development.js")
    script(src="https://unpkg.com/react-dom@16/umd/react-dom.development.js")
    script(src="https://unpkg.com/babel-standalone@6.15.0/babel.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js")

    style.
      #controls{
        background: #000;
      }

      .external{
        color: #F00;
      }

      .assistant{
        color: #00F;
      }

      .participant{
        color: #000;
      }

    #root
      
    script.
      var eventId = #{event.id}; 

    script(src="/js/main.js", type="text/babel")
