//-@ var persons: java.util.List[be.mira.jongeren.administration.domain.Person]

extends ../layouts/default.jade

block content
    ul
        each person in persons
            li
                a(href="/persons/details/#{person.id}") #{person.voornaam} #{person.achternaam}

    a(href="/persons/new") Toevoegen
    a(href="/index") Index