//-@ var events: java.util.List[be.mira.jongeren.administration.domain.Event]

extends ../layouts/default.jade

block content
    ul
        each event in events
            li
                a(href="/events/#{event.getId()}") #{event.getDatum()} #{event.getEventType()}
    a(href="/events/new") Toevoegen