-@ var events: java.util.List[be.mira.jongeren.administration.domain.Event]

ul
    - for(event <- events)
        li
            - var id = "%d".format(event.getId)
            a(href="/events/#{id}") #{event.getDatum} #{event.getEventType}
a(href="/events/new") Toevoegen