extends ../layouts/default

block content
    form.pure-form.pure-form-aligned(method="POST" action="/events/")
        .pure-control-group
            label Type
            select(name="eventType")
                each eventType in eventTypeOptions
                    option(value="#{eventType.toString()}") #{pippo.i18n(eventType.toString())}

        .pure-control-group
            label Datum
            input(type="date" name="datum")

        .pure-control-group
            button.pure-button.pure-button-primary Opslaan
