//-@ var body: String
//-@ var title: String = "Spring scalate example"

doctype html
html(lang="en")
	head
		<meta charset="utf-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1"/>
		<link rel='stylesheet' href='/webjars/purecss/build/pure.css'>

		title= title
	body
		header
			.container
				h1 MIRA Jeugdkern ADMIN

		block content
