mixin menu-item(url, label)
	li(class="pure-menu-item")
		a(href=url, class="pure-menu-link")= label

mixin search-form(action)
	form.search-form.pure-form.pure-form-aligned(method="GET" action=action)
		input(type="text", name="search", value="#{searchTerm}")
		button.pure-button.pure-button-primary Zoeken

mixin search-result()
	.result

doctype html
html(lang="en")
	head
		meta(charset="utf-8")
		meta(name="viewport", content="width=device-width, initial-scale=1")
		link(rel='stylesheet', href='/webjars/purecss/build/pure.css')
		link(rel='stylesheet', href='/css/main.css')

		title= title
	body
		.header
			.menu.pure-menu.pure-menu-horizontal.pure-menu-fixed
				a(class="pure-menu-heading", href="/")
					| MIRA Jeugdkern ADMIN

				ul(class="pure-menu-list")
					+menu-item("/events", "Activiteiten")
					+menu-item("/persons", "Personen")
					+menu-item("/statistics", "Statistieken")
					//+menu-item("/memberships", "Lidmaatschappen")
		.content
			block content
