extends layouts/default

block content
    h1 MIRA Jeugdkern - Administratie
    ul
        li
            a(href="/persons") Personen
        li
            a(href="/events") Activiteiten
        li
            a(href="/statistics") Statistieken